.background-primary {
  background-color: var(--color-primary-background);
  color: var(--color-primary-foreground);
  border-color: var(--color-primary-background);
}

.background-secondary {
  background-color: var(--color-secondary-background);
  color: var(--color-secondary-foreground);
}

.foreground-primary {
  background-color: var(--color-primary-foreground);
  color: var(--color-primary-background);
  border-color: var(--color-primary-foreground);
}

.foreground-secondary {
  background-color: var(--color-secondary-foreground);
  color: var(--color-primary-background);
}

.background-tertiary {
  background-color: var(--color-tertiary-background);
  color: var(--color-tertiary-foreground)
}

.foreground-tertiary {
  background-color: var(--color-tertiary-foreground);
  color: var(--color-tertiary-background)
}

.color-primary {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.color-secondary {
  background-color: var(--color-secondary);
}

.background-negative {
  background-color: var(--color-negative);
}

.background-critical {
  background-color: var(--color-critical);
}

.background-positive {
  background-color: var(--color-positive);
}

.opacity-xl {
  opacity: 0.1;
}

.opacity-l {
  opacity: 0.25;
}

.opacity-m {
  opacity: 0.5;
}

.opacity-s {
  opacity: 0.75;
}

.opacity-xs {
  opacity: 0.9;
}