.background-primary {
  background-color: #ffffff;
  color: #333333;
  border-color: #ffffff;
}

.background-secondary {
  background-color: #f3f3f3;
  color: #333333;
}

.foreground-primary {
  background-color: #080808;
  color: #ffffff;
}

.foreground-secondary {
  background-color: #080808;
  color: #ffffff;
}

.color-primary {
  color: #ffffff;
  border-color: #8080ff;
  background-color: #8080ff;
}

.color-secondary {
  background-color: #a640ff;
}

.background-warning {
  background-color: #ff4040;
}

.color-warning {
  color: #ff4040;
}

.opacity-m {
  opacity: 0.5;
}