.background-primary {
  background-color: var(--primaryBackground);
  color: var(--primaryForeground);
  border-color: var(--primaryBackground);
}

.background-secondary {
  background-color: var(--secondaryBackground);
  color: var(--secondaryForegroun);
}

.foreground-primary {
  background-color: var(--primaryForeground);
  color: var(--primaryBackground);
  border-color: var(--primaryForeground);
}

.foreground-secondary {
  background-color: var(--secondaryForeground);
  color: var(--primaryBackground);
}

.color-primary {
  border-color: var(--primary);
  background-color: var(--primary);
}

.color-secondary {
  background-color: var(--secondary);
}

.background-warning {
  background-color: var(--warning);
}

.color-warning {
  color: var(--warning);
}

.opacity-m {
  opacity: 0.5;
}