.dropdown {
  top: -22px;
  max-width: 320px;
  min-width: 124px;
}

.panel {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  max-width: 1280px;
  padding: 40px;
  row-gap: 40px;
}

.view {
  min-height: 100vh;
  width: 100%;
}

.modal {
  min-width: 360px;
}

.icon-xs {
  width: 12px;
  height: 12px;
  background-size: cover;
}

.icon-s {
  width: 24px;
  height: 24px;
  background-size: cover;
}

.icon-m {
  width: 40px;
  height: 40px;
  background-size: cover;
}

.icon-l {
  width: 56px;
  height: 56px;
  background-size: cover;
}

.thumbnail {
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 320px;
}

.highlight {
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.11);
}

.avatar-m {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(51, 51, 51, 0.15);
}

.avatar-l {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(51, 51, 51, 0.15);
  border-radius: 56px;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.hidden {
  display: none;
}

.article {
  
}

@media (max-width: 768px) {
  .sticky {
    position: relative;
  }
}