.dropdown {
  top: -22px;
  max-width: 320px;
  min-width: 124px;
}

.panel {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  max-width: 1140px;
  padding: 40px;
  row-gap: 40px;
}

.view {
  min-height: 100vh;
  width: 100%;
}

.view-m {
  min-height: 75vh;
  width: 100%;
}

.modal {
  min-width: 360px;
}
.icon-xs, .icon-s, .icon-m, .icon-l, .icon-xl {
  background-size: cover;
  display: flex;
}
.icon-xs {
  width: 12px;
  height: 12px;
}

.icon-s {
  width: 24px;
  height: 24px;
}

.icon-m {
  width: 40px;
  height: 40px;
}

.icon-l {
  width: 56px;
  height: 56px;
}

.icon-xl {
  width: 80px;
  height: 80px;
}

.thumbnail {
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 320px;
}

.highlight {
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-primary-foreground);
}

.avatar-m {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(51, 51, 51, 0.15);
}

.avatar-l {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(51, 51, 51, 0.15);
  border-radius: 56px;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.hidden {
  display: none;
}

.transition-linear {
  transition: background-color .25s linear;
}

.scrollable {
  max-height: 100vh;
  height: 100%;
  overflow: auto;
}

@media (max-width: 768px) {
  .hidden-on-mobile {
    display: none;
  }

  .sticky {
    position: relative;
  }
}