* {
  scrollbar-width: calc(5px);
  scrollbar-color: var(--color-primary-background) var(--color-tertiary-background);
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  
}

*::-webkit-scrollbar-track {
  background-color: var(--color-primary-background);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-tertiary-background);
}

body {
  background-color: var(--color-primary-background);
  color: var(--color-primary-foreground);
  width: 100%;
  max-width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

nav {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 24px;
}

.box {
  flex: 1;
}

.box-xs {
  width: 25%;
  display: flex;
}

.box-s {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.box-m {
  width: 75%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.box-l {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.padding-xs {
  padding: var(--size-base);
}

.padding-s {
  padding: calc(var(--size-base) * 2);
}

.padding-m {
  padding: calc(var(--size-base) * 3);
}

.padding-l {
  padding: calc(var(--size-base) * 6);
}

.padding-xl {
  padding: calc(var(--size-base) * 10);
}

.gap-xs, .gap-s, .gap-m, .gap-l, .gap-xl {
  display: flex;
}
.gap-xs {
  gap: 4px 4px;
}

.gap-s {
  gap: 8px 8px;
}

.gap-m {
  gap: 12px 12px;
}

.gap-l {
  gap: 24px 24px;
}

.gap-xl {
  gap: 40px 40px;
}

.direction-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.direction-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.align-start {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.align-stretch {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.align-end {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.justify-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.justify-stretch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.justify-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .direction-column {
flex-direction: column;
  }

  .box,
  .box-xs,
  .box-s,
  .box-m,
  .box-l {
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
  }
}