:root {
  --size-base: 4px;
  --font-primary:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

html, [data-theme="light"]  {
  --color-primary: #0000ff;
  --color-secondary: #8800ff;
  --color-primary-background: #ffffff;
  --color-secondary-background: #f3f3f3;
  --color-primary-foreground: #000000;
  --color-secondary-foreground: #0b0b0b;
  --color-warning: hsl(0, 100%, 63%);
}

[data-theme="dark"] {
  --color-primary: #8080ff;
  --color-secondary: #a640ff;
  --color-primary-background: #000000;
  --color-secondary-background: #0b0b0b;
  --color-primary-foreground: #ffffff;
  --color-secondary-foreground: #f3f3f3;
  --color-warning: hsl(0, 100%, 63%);
}