:root {
  --size-base: 4px;
}

html, [data-theme="light"]  {
  --primary: #0000ff;
  --secondary: #8800ff;
  --primaryBackground: #ffffff;
  --secondaryBackground: #f3f3f3;
  --primaryForeground: #000000;
  --secondaryForeground: #0b0b0b;
  --warning: hsl(0, 100%, 63%);
}

[data-theme="dark"] {
  --primary: #8080ff;
  --secondary: #a640ff;
  --primaryBackground: #000000;
  --secondaryBackground: #0b0b0b;
  --primaryForeground: #ffffff;
  --secondaryForeground: #f3f3f3;
  --warning: hsl(0, 100%, 63%);
}