html {
  font-size: 1.25rem;
  font-family: var(--font-primary);
}

h1 {
  font-size: 96px;
  line-height: 100%;
}

h2 {
  font-size: 64px;
  line-height: 120%;
}

h3 {
  font-size: 48px;
  line-height: 124%;
}

h4 {
  font-size: 36px;
  line-height: 136%;
}

h5 {
  font-size: 24px;
  line-height: 140%;
}

h6 {
  font-size: 18px;
  line-height: 144%;

}

p {
  margin-top: 8px;
  margin-bottom: 4px;
  line-height: 28px;
}

b,
strong {
  font-weight: 600;
}

blockquote {
  padding: 16px;
  border: 1px solid var(--color-primary-foreground);
}

code {
  display: block;
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
  line-height: 20px;
}

a {
  text-decoration: none;
}

a:hover span {
  text-decoration: underline;
}

li {
  padding-bottom: 2px;
  padding-top: 2px;
  line-height: 160%;
}

.text-center {
  text-align: center;
}

.text-xs {
  font-size: 8px;
  line-height: 8px;
}

.text-s {
  font-size: 12px;
  line-height: 12px;
}

.text-m {
  font-size: 14px;
  line-height: 14px;
}

.text-l {
  font-size: 18px;
  line-height: 18px;
}

@media (max-width: 768px) { 
  html {
    font-size: 1.125rem;
  }

  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 14px;
  }

}